header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .1);
  width: 100%;
  padding: 18px;
}

nav {
  display: flex;
}

a {
  color: rgb(191, 67, 67);
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 16px;
}

nav > a {
  border-bottom: 2px solid transparent;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  border-bottom: 1px solid #20F8FF;
  color: #20F8FF;
}

nav > a:hover {
  border-bottom: 2px solid #20F8FF;
  color: #20F8FF;
}